@import 'src/styles/variables';
@import 'src/styles/mixins';

.header a {
  color: $white;
}

.header {
  @extend %flex-align-center;
  text-transform: uppercase;
  background-color: #002B32;
  margin-bottom: 20px;

  .header-logo {
    font-size: 30px;
    margin: 10px 20px;
  }

  .navbar {
    ul {
      @extend %flex-align-center;

      li {
        margin: 20px;
      }
    }
  }
}

@media (max-width: 400px) {
  .header {

    .header-logo {
      margin: 10px 10px;
    }

    .navbar {
      ul {
        li {
          margin: 10px;
        }
      }
    }
  }
}
