@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
  ::ng-deep {
    .carousel-wrap {
      max-width: 1000px;
      width: 100%;
      margin: 90px auto;

      owl-carousel-o {
        position: relative;

        .owl-theme .owl-nav {
          @extend %flex-between;

          .owl-prev, .owl-next {
            @extend %flex-align-center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: $small-title;
            background-color: $white;
            color: $light-gray;
            border: 1px solid $light-gray;
          }

          .owl-next {
            position: absolute;
            top: 40%;
            right: 4px;
          }

          .owl-prev {
            position: absolute;
            top: 40%;
            left: -30px;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .carousel-wrap {
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  .carousel-wrap {
    max-width: 330px;
    margin: 30px auto;
  }
}
